* {
    box-sizing: border-box;
    
}

.page-background{
    background-color: rgba(211, 211, 211, 0.459);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body {
    background-color: rgba(231, 227, 227, 0.767);
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    width: 80%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(78, 78, 78, 0.479);
    position: sticky;
    z-index: 2;
    top: 0;
}

h1{
    margin-right: auto;
    padding-left: 1em;
    color: rgba(255, 255, 255, 0.795);
}

nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
    color: black;
    min-width: 100px;
    min-height: 20px;
    padding: 2em;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: rgb(99, 98, 98);
    color: rgba(255, 255, 255, 0.719);
    transition: 0.4s;
}

.bio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.bio-text{
    max-width: 50%;
}

.neuefische {
    color: black;
    text-decoration: underline;
}
.profilepicture{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height:auto;
}

figure{
    margin: 3em;
}

.spacer {
    border-bottom: 1px solid rgba(0,0,0, 40%);
    margin: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

main{
    margin-left: 1em;
    margin-right: 1em;
}

section{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    margin-top: 1rem;
}

.skill{
    line-height: 1.4;
    margin: -0.5em auto 0.5em -2.3em;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.7em;
}

.skill-tags{
    border: 1px solid black;
    padding: 6px;
    border-radius: 15px;
    background-color: rgb(185, 185, 185);
}
.skill-tags:hover{
    background-color: rgba(255, 255, 255, 0.637);
    box-shadow: 2px 2px 8px rgba(0,0,0, 50%);
}

.profile-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}

.profile-box{
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 1em;
    box-shadow: 2px 2px 8px rgba(0,0,0, 50%);
    max-width: 250px;
    flex-grow: 1;
    flex-basis: 0;
}

.profile-box img{
    width:120;
    height: 120;
    filter: grayscale(1.0)
}

.profile-box img:hover {
    filter: none;
}

#cv h3{
    padding: 1em;
    margin: 0;
}

.stations{
    position: relative;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(201, 201, 201);
}

table{
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}

.left-td{
    min-width: 30%;
}

.header-table{
    font-weight: bold;
}

td{
    border-radius: 5px;
    background: white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.mail:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.637);
    padding: 6px 10px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 2px 2px 8px rgba(0,0,0, 50%);
}

#contact h2{
    text-align: center;
    color: rgba(0, 0, 0, 0.767);
    margin-bottom: 0;
}
.contact-wrapper{
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 15px;
    padding: 4px;
    max-width: 58%;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px rgba(56, 56, 56, 0.3)
}

.contact-data {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    text-align: center;
    font-size: 0.8rem;
}

div a{
    text-decoration: none;
    color: black;
}