* {
    box-sizing: border-box;
}

body {
    background-color: rgba(211, 211, 211, 0.459);
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1,5;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1;
}

h1{
    text-decoration: underline solid;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    gap: 0.7em;
    flex-wrap: wrap;
    align-items: flex-start;
}

.button {
    color: black;
    padding: 6px 10px;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 4px 4px 4px rgba(0,0,0, 30%)
}

.button:hover {
    background-color: black;
    color: rgba(255, 255, 255, 0.719);
}

.spacer {
    border-bottom: 1px solid rgba(0,0,0, 40%);
    margin: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.profilepicture{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height:auto;
}

figcaption{
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    margin: 10px auto;
}

figure{
    margin: 3em;
}

main {
    padding-left: 3em;
    padding-right: 3em;
}

.neuefische {
    color: black;
}

section{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    margin-top: 1rem;
}

.skill{
    line-height: 1.4;
    margin: -0.5em auto 0.5em -2.3em;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.7em;
}

.skill-tags{
    border: 1px solid black;
    padding: 6px;
    border-radius: 15px;
    background-color: rgb(185, 185, 185);
}
.skill-tags:hover{
    background-color: rgba(255, 255, 255, 0.637);
    box-shadow: 2px 2px 8px rgba(0,0,0, 50%);
}

.profile-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}

.profile-box{
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 1em;
    box-shadow: 2px 2px 8px rgba(0,0,0, 50%);
    max-width: 250px;
    flex-grow: 1;
    flex-basis: 0;
}

.profile-box img{
    width:120;
    height: 120;
}

.mail:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.637);
    padding: 6px 10px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 2px 2px 8px rgba(0,0,0, 50%);
}

#contact h2{
    text-align: center;
    color: rgba(0, 0, 0, 0.767);
    margin-bottom: 0;
}
.contact-wrapper{
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 15px;
    padding: 4px;
    max-width: 58%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px rgba(56, 56, 56, 0.3)
}

.contact-data {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    text-align: center;
    font-size: 0.8rem;
}

div a{
    text-decoration: none;
    color: black;
}